[Unit]
Description=NSX-T Stats Service
After=multi-user.target

[Service]
Environment="##CLOUDID##"
Type=simple
Restart=always
WorkingDirectory=##WORKINGDIR##
ExecStart=/##WORKINGDIR##/start.sh

[Install]
WantedBy=multi-user.target